body {
  background-color: rgb(245, 233, 244);
  margin: 0;
  padding: 0;
 
}

.App {
  display: flex;
   width: 100vw;
   height: 100vh;
}

h1 {
  color: rgb(158, 70, 108);
  font-weight: bold;
  font-size: 40px;
}

.filmpart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.films {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.filminfo {
  flex-grow: 1; 
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.allpage {
  padding-left: 90px;
  display: flex;
  flex-direction: column;
}

.addPage {
  padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img {
  width: 100%;
  height: 405px;
  object-fit: cover;
  background-color: black;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}

textarea {
  width: 100%;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Butonlar arası boşluk */
}

.buttons * {
  padding: 5px;
  border: none;
  background-color: rgb(245, 233, 244); /* Değişiklik: Buton arka plan rengi */
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.delete {
  color: rgb(186, 90, 90);
}

.update {
  color: rgb(127, 127, 182);
}

.addButton {
  border: none;
  padding: 10px;
  background-color: rgb(158, 70, 108);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button {
  padding: 10px;
  background-color: rgb(158, 70, 108);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button + .button {
  margin-left: 10px;
}

/* Sidebar */

.sidebar{
  height: 100%;
  width: 300px;
  background-color: rgb(126, 115, 134);


}
/* Content */
.content {
flex: 1;
}

.container{
  display: flex;
}