body {
  background-color: #f1f2f2;
  margin: 0;
  padding: 0;
 
}

.App {
  display: flex;
   width: 100vw;
   height: 100vh;
}

h1 {
  color: #6C4B5D;
  font-weight: bold;
  font-size: 40px;

}

/* films */

.filmpart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-left: 340px;
}


.films {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 20px;
}

.filminfo {
  flex-grow: 1; 
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
}

.allpage {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* add page */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 850px; /* Default margin */
}

@media screen and (max-width: 1200px) {
  .form {
    margin-left: 600px; 
  }
}

@media screen and (max-width: 992px) {
  .form {
    margin-left: 400px;
  }
}


/* add and update button */
.addButton {
  border: none;
  padding: 10px;
  background-color: #6C4B5D;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width:100%;
  
}

img {
  width: 100%;
  height: 405px;
  object-fit: cover;
  background-color: black;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}

textarea {
  width: 100%;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Butonlar arası boşluk */
}

.buttons * {
  padding: 5px;
  border: none;
background-color: white;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.delete {
  color: rgb(186, 90, 90);
}

.update {
  color: rgb(127, 127, 182);
}


/* Sidebar */
.sidebar {
  position: fixed; /* Fix the sidebar */
  width: 300px;
  background-color: #6C4B5D;
  height: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-name {
  font-size: 18px;
  color: white;
}

.sidebarlist {
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebaritem {
  height: 70px;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebaritem:hover {
  cursor: pointer;
  background-color: #8d687c;
}

#active {
  background-color: #8d687c;
}

#icon {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  flex: 70%;
}

.container {
  display: flex;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Tüm ekran yüksekliği */
  width: 100vw; /* Tüm ekran genişliği */
  background-image: url("/Users/beyzaevcen/Desktop/filmstore/frontend/src/pages/images/a.jpg");
  background-size: cover; /* Resmin tüm ekrana yayılmasını sağlar */
  background-position: center; /* Resmi ortalar */
  background-repeat: no-repeat; /* Resmin tekrarlanmamasını sağlar */

  font-size: 40px; 
  font-weight: bold; 
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Siyah renk ve %50 opaklık */
}

.content {
  position: relative;
  z-index: 1; /* İçeriğin overlay üstünde olmasını sağlar */
}
/* 
.welcome{
  font-size: 72px;
  color: white;
  font-family:'Inconsolata', monospace;
} */
.animated-text {
  font-size: 72px;
  font-weight: bold;
  animation: textAnimation 3s infinite alternate; /* Animasyon adı, süre, tekrar sayısı ve davranışı */
}

@keyframes textAnimation {
  0% {
    color: white;
    transform: scale(1);
  }
  50% {
    color: white;
    transform: scale(1.1);
  }
  100% {
    color: white;
    transform: scale(1);
  }
}

.log-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: white;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}